@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
        box-sizing: border-box;

}

body {
    background-color: #fdfeff;
    font-family: "Open Sans", sans-serif;
    overflow: scroll;
    /* padding-left: 4rem;
    padding-right: 4rem; */
}

/* ----------------------------Navbar------------------------------- */
.navbar{

    /* background-color: hotpink; */
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1rem; */
    padding-left: 4rem;
    padding-right: 4rem;
    /* gap: 20rem; */
    /* margin-left: 3px; */
    /* padding-left: 2rem;
    padding-right: 3rem; */

}

.navbar img{
    margin-top: 3rem;
    height: 40px;
    width: 90px;
}
.list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #757875;
    
}

.home{
    /* font-weight: 800; */
    color: #000000;
}
 .btn-outline{
    border: 2px solid #1c8cef;
    border-radius: 10px;
    color: #1c8cef;
    width: 10rem;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.mobile-nav{
    display: none;
}

/* ---------------------------------------------- hero section -------------------------------- */
.hero{
    /* background-color: saddlebrown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    
}


.hero-left h1{
    font-size: 3rem;
}
.hero-left p{
    margin-top: 1.5rem;
    color: #757875;
    font-weight: 500;
    font-size: 0.99rem;
}
.btn{
    margin-top: 2rem;
    background-color: #008af0;
    /* color-mix(in oklch, hsl(200deg 50% 50%), color(display-p3 .5 0 .5)); */
    color: #fdfeff;
    border: none;
    /* background-image: url(./assets/Cloud.png); */
    /* background-size: cover; */
    border-radius: 10px;
    width: 12rem;
    height: 3rem;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero-right img{
    width: 500px;
}

/* --------------------------------------- testing section -------------------------------------- */

.testing{
    /* background-color: salmon; */
   
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: 5rem;
     padding-left: 4rem;
     padding-right: 4rem;
}

.testing-left img{
    width: 550px;
}


.testing-right h2{
    font-size: 3rem;
}
.testing-right p{
    margin-top: 1.5rem;
    color: #757875;
    font-weight: 500;
    font-size: 0.99rem;
}

/*----------------------------------------- technical-section ------------------------------------------- */



.technical-section{
    /* background-color: rgb(23, 65, 109); */
   
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: 5rem;
     padding-left: 4rem;
     padding-right: 4rem;
}

.technical-section img{
    width: 500px;
}


.technical-section h2{
    font-size: 3rem;
}
.technical-section p{
    margin-top: 1.5rem;
    color: #757875;
    font-weight: 500;
    font-size: 0.99rem;
}


/* -------------------------------------- services section ---------------------------------------- */

.services-section{
    margin-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
        /* background-color: rgb(139, 88, 46); */
}

.services-headline{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.services-headline h2{
    font-size: 3rem;
}

.services-headline p{
    
        /* margin-top: 1.5rem; */
        color: #757875;
        font-weight: 500;
        font-size: 0.99rem;
}

.services-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 2rem;
}
/* 
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
} */
.services-card p{
    /* text-align: left; */
    margin-top: 1.5rem;
    color: #757875;
    font-weight: 500;
    font-size: 0.99rem;
}
.services-card h4{
   
    margin-top: 1rem;
    
}



/* ----------------------------------------------- pricing section ------------------------------ */

.pricing-wrapper{
    background-color:#008af0;
    margin-top: 5rem;
    padding-bottom: 4rem;
    /* height: 60rem; */
    /* width: 110rem; */
    /* width: 100%; */
    /* margin-left: unset; */

    /* display: flex;
    flex-direction: column; */
}

.pricing-wrapper h2{
    font-size: 3rem;
    color: #fdfeff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    /* padding-bottom: 5rem; */
}

.pricing{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.pricing-card{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    width: 350px;
    height: 700px;
    margin-top: 4rem;
    
}




.card-heading{

    /* background-color:#2c2c2c; */
    height: 10rem;
    /* color: #fdfeff; */
    border-radius: 15px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


 
}
.c-2{
    background-color:#2c2c2c;
    color: #fdfeff;
}

.card-heading h4{
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
    margin-top: 2rem;
}

.pricing-card-body span{
    width: 20px;
    height: 20px;
    border: 3px solid #20daaa;
    color: #20daaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* margin-top: 2rem; */
}

.card-heading p{
    margin-top: 1rem;
    color: #757875;
    font-weight: 500;
    font-size: 0.99rem;
}
.pricing-card-body li{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    /* margin-top: 1.5rem; */
    color: #757875;
    font-weight: 600;
    font-size: 0.99rem;
}

.pricing-card-footer{
    /* background-color: sandybrown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    /* color: #757875; */
}
.pricing-card-footer h4{
    font-size: 2rem;
}
.pricing-card-footer span, p{
    color: #757875;
}

.pricing-card-footer .btn-outline{
    margin-top: 2rem;
    width: 12rem;
}




/* ------------------------------ customer section ----------------------- */

.customer-section{
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    /* margin-bottom: 4rem; */
}

.customer-section h1{
    font-size: 3rem;
    margin-top: 4rem;
    
}
.customer-section p{
    text-align: center;
    color: #757875;
    margin-top: 2rem;
    margin-bottom: 3rem;
    /* font-weight: 500; */
}

.customer-cards{
    /* background-color: chartreuse; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
}
.customer-card{
    background-color: #fff;
    /* box-shadow: #757875; */
    /* border: 1px solid gray; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin-top: 2rem;
    width: 580px;
    height: 300px;
    padding: 2rem;
    
}

.customer-card p{
    margin-top: 0;
    text-align: left;
    font-weight: 600;
}

.customer-info{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: salmon; */
    gap: 1rem;
}


/*-------------------------------------- footer----------------------------- */


.footer{
    background-color:  #1c8cef;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 3rem; */
    padding: 2rem 4rem 3rem 4rem;
   

}


.footer-left h1{
    font-size: 2.5rem;
    color: #fdfdfd;
}

.footer-left p{
    /* font-size: 2.5rem; */
    margin-top: 2rem;
    color: #fdfdfd;
}

.footer-right .btn-outline{
    /* border-color: #fff;
    color: #1c8cef; */
    border: 2px solid #fdfdfd;
    
    color: #ffffff;
    background-color: #1c8cef;;
    font-size: 1rem;
}


.bottom-footer{
    /* background-color: purple; */
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    justify-content: center;
}


.footer-navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: salmon; */
    gap: 5rem;
    
}
.footer-navbar h5{
    font-size: 1.5rem;
}

.bottom-footer p,li{
    margin-top: 2rem;
    color:#8787a0;
}




.Social-Med{
    display: flex;
    justify-content: space-between;
}

.Social-Med img{
    height: 35px;
    width: 35px;
}











/* Responsive  */


/* @media only screen and (max-width: 850px){

    .navbar .list{
        display: none;
    }

    .mobile-nav .hamburger{

            display: inline;
            color: #000000;
    }
} */
@media only screen and (max-width: 1175px){
   
    .hero-right img{
        width: 400px;
    }
    .hero-left h1{
        font-size: 2.5rem;
    }
    .hero-left p{
        font-size: 0.8rem;
    }

    /* -----------testing section---------- */

    .testing-left img{
        width: 400px;
    }
    .testing-right h2{
        font-size: 2.5rem;
    }
    .testing-right p{
        font-size: 0.8rem;
    }
    
    /* -----------------technical-section----------------- */

    .technical-section img{
        width: 400px;
    }
    .technical-section h2{
        font-size: 2.5rem;
    }
    .technical-section p{
        font-size: 0.8rem;
    }


    /* -----------------services-headline----------------- */

    .services-headline h2{
        font-size: 2rem;
    }
    
    .services-headline p{
        
            /* margin-top: 1.5rem; */
            color: #757875;
            font-weight: 500;
            font-size: 0.8rem;
    }


}
@media only screen and (max-width: 920px){

    .hero{
       
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 3rem;
       
    }
    .hero-left{
        text-align: center;
    }

    /* -----------------testing-section----------------- */
    .testing{
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        
    }
    .testing-right{
        text-align: center;
    }

    /* -----------------technical-section----------------- */
    .technical-section{
        
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* gap: 1rem; */
        
    }
    .technical-section{
        text-align: center;
    }

     /* -----------------services-headline----------------- */

     .services-headline{
       flex-direction: column;
       gap: 2rem;
    
    }


}
@media only screen and (max-width: 600px){

   
   
    .hero-left{
        text-align: center;
    }
    .hero-right img{
        width: 350px;
    }
    .hero-left h1{
        font-size: 2rem;
    }
    .hero-left p{
        font-size: 0.8rem;
    }

    /* -----------------testing-section----------------- */
    .testing-right{
        text-align: center;
    }
    .testing-left img{
        width: 350px;
    }
    .testing-right h2{
        font-size: 2rem;
    }
    .testing-right p{
        font-size: 0.8rem;
    }

    /* -----------------technical-section----------------- */
    .technical-section{
        text-align: center;
    }
    .technical-section img{
        width: 350px;
    }
    .technical-section h2{
        font-size: 2rem;
    }
    .technical-section p{
        font-size: 0.8rem;
    }

    /* ---------------------services-section------------------ */

    .services-card{
        justify-content: center;
    }
}

